#header-nav{
	background-color: #410E7E;
}
#header-nav a.navbar-brand{
	color: white;
}

div.sidebar{

}
.nav>li>a{

}

.short-scroll{
	max-height: 200px;
	overflow: auto;
	border-bottom: 5px solid gray;
	border-top: 5px solid gray;
	padding: 10px;
	margin: 20px 0;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.obj_key_value_field label{
	display:none;
}

.reply-to-conversation-btn{
	margin:10px 0;
}

/* LOGIN PAGE */

#login-page{
	background-color: blue;
}
#login-page .main{
	width: 50%;
	background-color: white;
	display: block;
	margin: 100px auto;
	border: 1px solid black;
	border-radius: 5px;
	padding: 20px;
}

.chat-message-source-patient{
	color: red !important;
	font-size: 18px !important;
}