#side-menu{
	z-index: 1;
    position: absolute;
    width: 100px;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    height: 100%;
    border-right: 1px solid #e7e7e7;
}

.link{
	border-bottom: 1px solid #e7e7e7;
	width: 100%;
	overflow: auto;
	height: 39px;
    display: block;
    text-decoration: none;
}

.icon{
	width: 10px;
    float: left;
    margin-left: 10px;
    margin-top: 11px;
    margin-right: 10px;
}

.text{
    display: block;
    position: relative;
    font-size: 14px;
    line-height: 40px;
}